services:
  postgres:
    image: postgres:16
    container_name: urlshortener-db
    environment:
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"
      POSTGRES_DB: "${POSTGRES_DB}"
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - urlshortener-network
    restart: unless-stopped

  web:
    build:
      context: .
      dockerfile: ./UrlShortener.Web/Dockerfile
    container_name: urlshortener-web
    ports:
      - "${WEB_PORT}:80"
    environment:
      ASPNETCORE_ENVIRONMENT: Staging
      ASPNETCORE_URLS: "http://+:80"

      # Database
      ConnectionStrings__DefaultConnection: >
        Host=postgres;
        Port=5432;
        Database=${POSTGRES_DB};
        Username=${POSTGRES_USER};
        Password=${POSTGRES_PASSWORD}

      # Default admin
      AdminConfig__DefaultAdminUserEmail: "${ADMIN_EMAIL}"
      AdminConfig__DefaultAdminUserPassword: "${ADMIN_PASSWORD}"
      AdminConfig__DefaultAdminUserFirstName: "${ADMIN_FIRST_NAME}"
      AdminConfig__DefaultAdminUserLastName: "${ADMIN_LAST_NAME}"

    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - urlshortener-network
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "curl -f http://localhost:80/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s

volumes:
  postgres_data:

networks:
  urlshortener-network:
